@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

* {
  font-family: 'Roboto';
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  transform: rotate(-1deg);
}

.header-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  
  margin: 8px;
}

.header-template-first-row {
  background-color: #7e7ef3; 
  padding: 4px;

  font-weight: 400;
  font-size: 16px;
  color: #f7f7fa;
  text-shadow: 1px 1px #000000;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis; 
}

.header-template-second-row {
  background-color: #5b5bf0;
  padding: 4px;
  margin-left: 8px;

  font-size: 14px;
  font-weight: 400;
  color: #f7f7fa;
  white-space: nowrap; 
  overflow: hidden;
}

.queue-container {
  display: flex;
  align-items: flex-start;
  margin: 8px;
}

.queue-spacer {
  margin: 8px;
  color: #f7f7fa;
  text-shadow: 1px 1px #000000;
}

.queue-list {
  display: flex;
  flex-direction: {{listOrientation}};
  align-items: flex-start;
}

.queue-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;

  margin: 4px;
}

.queue-emote {
  position: absolute;
  top: 24px;
  left: -8px;
  height: 50%;
}

.queue-template-first-row {
  background-color: #7e7ef3; 
  padding: 4px;

  font-weight: 400;
  font-size: 16px;
  color: #f7f7fa;
  text-shadow: 1px 1px #000000;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis; 
}

.queue-template-second-row {
  background-color: #5b5bf0;
  padding: 4px;
  margin-left: 16px;

  font-size: 14px;
  font-weight: 400;
  color: #f7f7fa;
  white-space: nowrap; 
  overflow: hidden;
}

.queue-empty {
  background-color: #7e7ef3; 
  padding: 4px;
  margin: 4px;

  font-size: 16px;
  font-weight: 700;
  text-shadow: 1px 1px #000000;
  color: #f7f7fa;
}

.header-info-highlight {
  font-weight: bold;
}
