@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

* {
  font-family: 'Roboto';
  overflow: hidden;
}

@keyframes slide-in {
  0% {
    width: 0px;
  }
  100% {
    width: 100%;
  }
}

@keyframes fade-in {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

.main-container {
  display: flex;
  flex-direction: {{listOrientation}};

  justify-content: space-around;
}

.event-container {
  display: flex;
  flex-direction: column;
  position: relative;

  animation: slide-in 1s;
  animation-fill-mode: forwards;

  width: 0px;
  max-width: 240px;
  
  margin: 4px;

  transform: rotate(-1deg);
}

.username-container {
  animation: fade-in 0.2s;
  animation-fill-mode: forwards;
  
  background-color: rgb(6, 186, 168); 

  padding: 4px;
  padding-right: 32px;
  
  font-weight: 400;
  font-size: 16px;
  color: white;
  text-shadow: 1px 1px #000000;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis; 
}

.details-container {
  animation: fade-in 0.2s;
  animation-fill-mode: forwards;

  background-color: rgb(8, 236, 213);
  
  padding: 4px;
  margin-left: 12px;

  font-size: 14px;
  font-weight: 400;
  color: black;
  white-space: nowrap; 
  overflow: hidden;
}

.event-image {
  object-fit: contain;
  display: inline-block;
  position: absolute;

  background-color: rgb(8, 236, 213);

  width: 24px;
  height: 24px;
  
  right: 4px;
  top: 8px;

  -webkit-mask-size: cover;
  mask-size: cover;
}

.event-follower {
  mask-image: url('https://cdn.streamelements.com/static/custom-event-list/follower.svg');
  -webkit-mask-image: url('https://cdn.streamelements.com/static/custom-event-list/follower.svg');
}

.event-cheer {
  mask-image: url('https://cdn.streamelements.com/static/custom-event-list/bits.svg');
  -webkit-mask-image: url('https://cdn.streamelements.com/static/custom-event-list/bits.svg');
}

.event-host {
  mask-image: url('https://cdn.streamelements.com/static/custom-event-list/host.svg');
  -webkit-mask-image: url('https://cdn.streamelements.com/static/custom-event-list/host.svg');
}

.event-raid {
  mask-image: url('https://cdn.streamelements.com/static/custom-event-list/raid.svg');
  -webkit-mask-image: url('https://cdn.streamelements.com/static/custom-event-list/raid.svg');
}

.event-subscriber {
  mask-image: url('https://cdn.streamelements.com/static/custom-event-list/sub.svg');
  -webkit-mask-image: url('https://cdn.streamelements.com/static/custom-event-list/sub.svg');
}

.event-tip {
  mask-image: url('https://cdn.streamelements.com/static/custom-event-list/tip.svg');
  -webkit-mask-image: url('https://cdn.streamelements.com/static/custom-event-list/tip.svg');
}

.event-redemption {
  mask-image: url('https://cdn.streamelements.com/static/custom-event-list/redemption.svg');
  -webkit-mask-image: url('https://cdn.streamelements.com/static/custom-event-list/redemption.svg');
}
