@import url('https://fonts.cdnfonts.com/css/d-din?styles=37959,37957');

* {
  font-family: 'D-DIN', sans-serif;
}

@keyframes slide-in {
  0% {
    width: 0px;
  }
  100% {
    width: 100%;
  }
}

@keyframes fade-in {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

.main-container {
  display: flex;
  flex-direction: {{listOrientation}};

  justify-content: space-around;
}

.event-container {
  animation: fade-in 0.2s;
  animation-fill-mode: forwards;

  animation: slide-in 1s;
  animation-fill-mode: forwards;

  display: flex;
  flex-direction: column;
  position: relative;

  width: 0px;
  max-width: 240px;
  
  margin: 8px;
}

.event-container-background {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  
  background: #eeeeee;
  border: 2px solid #bbbbbb;
  border-radius: 8px;

  transform: rotate(-3deg);
}

.event-container-content {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;

  margin: 2px;
  
  border: 2px solid #bbbbbb;
  border-radius: 8px;

  background: url('https://i.ibb.co/NTdpcMQ/stripes.png') repeat,
              linear-gradient(0deg, rgba(91,91,240,1) 50%, rgba(126,126,243,1) 50%);
  background-blend-mode: soft-light;
}

.username-container {
  padding: 4px;
  padding-right: 32px;
  
  font-weight: 400;
  font-size: 16px;
  color: #f7f7fa;
  text-shadow: 1px 1px #000000;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis; 
}

.details-container {
  padding: 4px;

  font-size: 14px;
  font-weight: 400;
  color: #f7f7fa;
  text-shadow: 1px 1px #000000;
  white-space: nowrap; 
  overflow: hidden;
}

.event-image {
  object-fit: contain;
  display: inline-block;
  position: absolute;

  background-color: #eeeeee;

  width: 24px;
  height: 24px;
  
  right: 4px;
  top: 4px;

  -webkit-mask-size: cover;
  mask-size: cover;
}

.event-follower {
  mask-image: url('https://cdn.streamelements.com/static/custom-event-list/follower.svg');
  -webkit-mask-image: url('https://cdn.streamelements.com/static/custom-event-list/follower.svg');
}

.event-cheer {
  mask-image: url('https://cdn.streamelements.com/static/custom-event-list/bits.svg');
  -webkit-mask-image: url('https://cdn.streamelements.com/static/custom-event-list/bits.svg');
}

.event-host {
  mask-image: url('https://cdn.streamelements.com/static/custom-event-list/host.svg');
  -webkit-mask-image: url('https://cdn.streamelements.com/static/custom-event-list/host.svg');
}

.event-raid {
  mask-image: url('https://cdn.streamelements.com/static/custom-event-list/raid.svg');
  -webkit-mask-image: url('https://cdn.streamelements.com/static/custom-event-list/raid.svg');
}

.event-subscriber {
  mask-image: url('https://cdn.streamelements.com/static/custom-event-list/sub.svg');
  -webkit-mask-image: url('https://cdn.streamelements.com/static/custom-event-list/sub.svg');
}

.event-tip {
  mask-image: url('https://cdn.streamelements.com/static/custom-event-list/tip.svg');
  -webkit-mask-image: url('https://cdn.streamelements.com/static/custom-event-list/tip.svg');
}

.event-redemption {
  mask-image: url('https://cdn.streamelements.com/static/custom-event-list/redemption.svg');
  -webkit-mask-image: url('https://cdn.streamelements.com/static/custom-event-list/redemption.svg');
}
